.box {
  float: left;
  height: 50px;
  width:10000px;
  margin-bottom: 15px;
  clear: both;
}

.navy {
  background-color: #000080;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.header {
  padding: 80px;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.largetext {
 font-weight: bold;
}


 .mediumtext {
  font-size: x-large;
 }

 .smalltext {
   font-size: small;
   font-weight: lighter;
 }

 .topleft {
  top: 6px;
  left: 16px;
  position: absolute;
}


.container {
  position: relative;
}

.hyperlink {
color: #0066CC;
}

.topmiddle {
  top: 75%;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
 text-align: center;
 color: white;
 font-size: 65px;
 font-weight: bold;
 font-family:archiveregular;
}
.mainpadding {
  padding-top: 52px;
  padding-bottom: 52px;
}

.classesstyle {
  font-size: 125px;

}
