.box {
  float: left;
  height: 50px;
  width:10000px;
  margin-bottom: 15px;
  clear: both;
}

.navy {
  background-color: #000080;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.largetext {
 font-size: xx-large;
 font-weight: bold;
}


 .mediumtext {
  font-size: x-large;
 }

 .smalltext {
   font-size: small;
   font-weight: lighter;
 }

 .topleft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.container {
  position: relative;
}